*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

header{
    /* border: thin solid red; */
    width: 100%;
    background-color: black;
}

nav{
    /* border: thin solid red; */
    width: 100%;
    margin: 0px auto;
}

.container-fluid{
    /* border: thin solid red; */
    width: 89%;
    margin: 0px auto;
}

.block-span{
    display: flex;
    align-items: first baseline;
    gap: 1.5em;
}

.navbar-toggler{
    background-color: white;
}


.collapse{
    display: flex;
    justify-content: space-between;
}



.navbar-nav{
    display: flex;
    gap: 1em;
}

.nav-item{
    display: inline-flex;
    align-items: first baseline;
}

.nav-link{
    color: white;
    font-size: 1em;
    font-weight: 500;
}

.nav-item .fa-solid{
    color: white;
    font-size: .8em;
}

.header-link{
    display: inline-flex;
    align-items: first baseline;
    gap: 2em;
}


.link-a{
    color: white;
    text-decoration: none;
}


.link-link{
    padding: 10px 20px;
    color: black;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    background-color: white;
}

.span{
    color: white;
    display: none;
}

@media(max-width:1200px){
    .span{
        display: block;
    }

    .collapse{
        display: grid;
    }
}

