* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

header {
    /* border: thin solid red; */
    width: 100%;
    background-color: #02090A;
}

nav {
    /* border: thin solid red; */
    width: 100%;
    margin: 0px auto;
    position: sticky;
}



.container-fluid {
    /* border: thin solid red; */
    width: 89%;
    margin: 0px auto;
}

.block-span {
    display: flex;
    align-items: first baseline;
    gap: 1.5em;
}

.navbar-toggler {
    background-color: white;
}


.collapse {
    display: flex;
    justify-content: space-between;
}



.navbar-nav {
    display: flex;
    gap: 1em;
}

.nav-item {
    display: inline-flex;
    align-items: first baseline;
}

.nav-link {
    color: white;
    font-size: 1em;
    font-weight: 500;
}

.nav-link:hover{
    color: white;
    text-decoration: underline;
}

.nav-item .fa-solid {
    color: white;
    font-size: .8em;
}

.header-link {
    display: inline-flex;
    align-items: first baseline;
    gap: 2em;
}


.link-a {
    color: white;
    text-decoration: none;
}


.link-link {
    padding: 10px 20px;
    color: black;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    background-color: white;
}

.link-link:hover{
    background-color: #D4D4D8;
}

.span {
    color: white;
    display: none;
}

.link{
    border: thin solid #1B2222;
    width: 100%;
}

.links{
    /* border: thin solid #1B2222; */
    width: 88%;
    margin: 0px auto;
    display: flex;
    /* align-items: center; */
}

.block-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: none;
}


.block1{
    font-size: 1em;
    color: #969999;
    text-decoration: none;
}

.block2{
    font-size: 1.2em;
    color: white;
    text-decoration: none;
}

.head-link {
    /* border: thin solid red; */
    /* width: 100%; */
    /* margin: 22px auto; */
    padding: 22px 0px;
    display: flex;
    align-items: first baseline;
    gap: 2em;

}

.head-link a {
    font-size: 1.1em;
    color: white;
    text-decoration: none;
}

.head-link a:hover{
    color: white;
    text-decoration: underline;
}

.head-link .fa-solid{
    font-size: .8em;
    color: #969999;
    display: none;
}

.header-text {
    /* border: thin solid red; */
    width: 88%;
    margin: 0px auto;
    padding-top: 70px;
    padding-bottom: 120px;
}

.header-text h6 {
    /* border: thin solid red; */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-text h1 {
    font-size: 3.5em;
    font-weight: 400;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-text h5 {
    color: #969999;
    font-size: 1.1em;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media(max-width:1199px) {
    .container-fluid {
        width: 94%;
    }

    .span {
        display: block;
    }

    .collapse {
        display: grid;
    }

    .links{
        width: 92%;
    }

    .block-link{
        display: flex;
        flex-direction: column;
    }

    .head-link a{
        display: none;
    }

    .head-link .fa-solid{
        display: block;
    }

    .links{
        display: flex;
        justify-content: space-between;
    }
}

@media(max-width:900px){
    .container-fluid{
        width: 96%;
    }

    .links{
        width: 94%;
    }

    .header-text h1{
        font-size: 2.6em;
    }
}

@media(max-width:640px){
    .container-fluid{
        width: 99%;
    }

    .links{
        width: 96%;
    }
}






/* ---hero-sect--- */
.hero-sect {
    margin-top: 150px;
    margin-bottom: 150px;
}

.row {
    width: 88%;
    margin: 0px auto;
    /* border: thin solid red; */
    background-color: #FFFFFF;
}

.col-8 {
    /* border: thin solid red; */
    width: 55%;
}



.bordar {
    border: thin solid white;
    display: flex;
    width: 260px;
    gap: .6em;
}


.col-4 {
    width: 280px;
    border: thin solid white;
    margin-right: 20px;
}

.border-left {
    width: 4px;
    height: 850px;
    background-color: #D4D4D8;
}

.list-group {
    border: thin solid white;
    width: 220px;
    color: #D4D4D8;
    /* position: fixed; */
}

.list-group-item {
    border: thin solid white;
    width: 220px;
    /* background-color: white; */

}

.list-group-item:hover {
    color: black;
    text-decoration: underline;
    text-decoration-color: black;
    background-color: white;
    border-left: black;
}







.scrollspy-example {
    /* border: thin solid red; */
    width: 86%;
}



.scroll-h1 {
    /* border: thin solid red; */
    color: black;
    font-size: 2.2em;
    font-weight: 400;
    width: 100%;
    /* margin: 0px auto; */
    padding-top: 20px;
}

.scroll-p {
    /* border: thin solid red; */
    font-size: 1.15em;
    color: black;
    width: 100%;

}




.scroll-li {
    /* border: thin solid red; */
    width: 96%;
    margin: 0px auto;
    display: inline-flex;
    gap: 1em;
    padding-bottom: 20px;
    align-items: first baseline;
}

.scrolli {
    /* border: thin solid red; */
    width: 80%;
    margin: 0px 50px;
    display: inline-flex;
    gap: 1em;
    padding-bottom: 20px;
    align-items: first baseline;
}


.board {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: black;
}

.scroll-p a {
    color: black;
    /* font-weight: 100; */

}

.scroll-p a:hover {
    text-decoration: none;
}

.scrollh1 {
    font-size: 1.7em;
    color: black;
    font-weight: 400;
    width: 100%;
    padding-top: 20px;
}

.oppo-header {
    /* border: thin solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px auto;
    background-color: #F9FAFB;
}

.oppo-header h6 {
    /* border: thin solid red; */
    width: 40%;
    color: black;
    margin-top: 10px;
    /* margin-bottom: 10px; */

}

.oppo-sec {
    display: flex;
}

.sec1 {
    border: thin solid #F9FAFB;
    /* border: thin solid red; */
    width: 50%;
}


.sec-li {
    width: 90%;
    /* margin: 0px auto; */
    margin-left: 15px;
    display: inline-flex;
    gap: .5em;
    align-items: first baseline;
    /* border: thin solid red; */
}

.sec-board {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: black;
}


.scroll-span {
    /* border: thin solid red; */
    font-size: 1em;
    width: 98%;
    color: black;
    font-weight: 10;
}


.sec1-li {
    /* border: thin solid red; */
    width: 80%;
    display: inline-flex;
    gap: .5em;
    align-items: first baseline;
    margin-left: 25px;
}

.sec2 {
    /* border: thin solid red; */
    border: thin solid #F9FAFB;
    width: 50%;
}


@media(max-width:1200px) {
    .row {
        /* border: thin solid red; */
        flex-direction: column;
        width: 65%;
        margin: 0px auto;
    }


    .col-8 {
        /* border: thin solid violet; */
        width: 100%;
    }


    .border-left {
        display: none;
    }

    .col-4 {
        /* border: thin solid red; */
        width: 400px;
    }

    .bordar {
        /* border: thin solid blue; */
        width: 100%;
    }

    .list-group {
        /* border: thin solid black; */
        width: 100%;
        margin-bottom: 100px;
    }

    .list-group-item {
        /* border: thin solid red; */
        width: 100%;
    }
}

@media(max-width:900px) {
    .row {
        /* border: solid black; */
        flex-direction: column;
        width: 76%;
        margin: 0px auto;
    }
}

@media(max-width:640px) {
    .row {
        width: 100%;
    }
}

@media(max-width:575px) {
    .row {
        width: 100%;
    }
}


/* ---footer--- */
footer {
    /* border: thin solid red; */
    background-color: black;
    width: 100%;
}

.footer {
    /* border: thin solid red; */
    width: 86%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    padding: 100px 0px;
}

.footer-img {
    width: 50px;
}

.footer-texts {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5em;
}



.footer-h4 {
    color: white;
    margin-bottom: 20px;
}

.txt1-link {
    /* border: thin solid red; */
    display: flex;
    flex-direction: column;
    gap: .6em;
}

.txt1-link a {
    color: white;
    text-decoration: none;
}

.txt2-link {
    /* border: thin solid red; */
    display: flex;
    flex-direction: column;
    gap: .6em;
}

.txt2-link a {
    color: white;
    text-decoration: none;
}


.txt3-link {
    /* border: thin solid red; */
    display: flex;
    flex-direction: column;
    gap: .6em;
}

.txt3-link a {
    color: white;
    text-decoration: none;
}

.txt4-link {
    /* border: thin solid red; */
    display: flex;
    flex-direction: column;
    gap: .6em;
}

.txt4-link a {
    color: white;
    text-decoration: none;
}

.txt5-link {
    /* border: thin solid red; */
    display: flex;
    flex-direction: column;
    gap: .6em;
}

.txt5-link a {
    color: white;
    text-decoration: none;
}

/* ---media-query--- */
@media(max-width:1200px) {
    .footer {
        width: 92%;
    }

    .footer-texts {
        display: grid;
        grid-template-columns: auto auto auto;
    }
}

@media(max-width:900px) {
    .footer {
        width: 94%;
    }

    .footer-img {
        margin-bottom: 20px;
    }

    .footer {
        display: grid;
    }

    .txt1-link {
        gap: 1.2em;
    }

    .txt2-link {
        gap: 1.2em;
    }

    .txt3-link {
        gap: 1.2em;
    }

    .txt4-link {
        gap: 1.2em;
    }

    .txt5-link {
        gap: 1.2em;
    }
}

@media(max-width:640px) {
    .footer-texts {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.footer-border {
    width: 86%;
    height: 1px;
    background-color: #1B2222;
    margin: 20px auto;
}

.footer-bottom {
    width: 86%;
}


.footer-bottom {
    display: flex;
    gap: 3em;
    margin: 00px auto;
    padding: 20px 0px;
    /* background-color: black; */
}

.footer-bottom1 {
    /* border: thin solid red; */
    width: 65%;
    display: flex;
    gap: 2em;
    /* background-color: black; */
}

.world-h5 {
    font-size: 1em;
    color: white;
    font-weight: 50;
}

.country {
    /* border: thin solid red; */
    /* height: 20px; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    gap: .5em;
}

.fa-globe {
    display: flex;
    justify-content: center;
    color: white;
}

.fa-chevron-down {
    display: flex;
    justify-content: center;
    color: white;
}

.world-h5 {
    display: flex;
    justify-content: center;
    color: white;
    /* font-size: 2em; */
}

.foot-links {
    /* border: thin solid white; */
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
}

.footlink {
    /* border: thin solid red; */
    color: white;
    text-decoration: none;
}



.social-link {
    /* border: thin solid red; */
    display: flex;
    gap: 1.2em;
}

.fa-brands {
    /* border: thin solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-decoration-color: black;
    width: 36px;
    height: 36px;
    font-size: 1.2em;
    color: black;
    border-radius: 50%;
    background-color: white;
}

@media(max-width:1200px) {
    .footer-bottom {
        display: flex;
        flex-direction: column;
    }

    .country {
        width: 30%;
    }

    .footer-bottom1 {
        width: 100%;
    }

    .foot-links {
        width: 100%;
    }

}

@media(max-width:900px) {
    .footer-bottom {
        width: 94%;
    }

    .country {
        width: 50%;
    }
}

@media(max-width:640px) {
    .footer-bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-bottom1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .foot-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .country {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}